[Unit]
Description=TCL Web Scanner Login Service with Database
After=network.target

[Service]
Type=simple
User=localadmin
WorkingDirectory=/home/localadmin/artemis
ExecStart=/usr/bin/python3 /home/localadmin/artemis/login_server_db.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target